---
Language: Cpp
BasedOnStyle: WebKit
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: false
  AfterNamespace: true
  AfterStruct: true
  AfterExternBlock: true
  AfterFunction: true
  AfterObjCDeclaration: false
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
InsertNewlineAtEOF: true
InsertBraces: true
AlignOperands: AlignAfterOperator
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 2
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
